
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminPortalLayout.cshtml";
}

<h1>Index</h1>

<a asp-action="TestAddresses" asp-controller="Members" asp-area="Admin">testLink</a>

