<div class="row border-bottom white-bg">
    <nav class="navbar navbar-expand-lg navbar-static-top" role="navigation">
        <a href="#" class="navbar-brand">Vaal Beach Club</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav mr-auto">
                <li class="active">
                    <a aria-expanded="false" asp-action="Index" asp-controller="Home"><i class="fas fa-sign-in-alt"></i> Back to Main</a>

                </li>
              

            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a asp-action="Login" asp-controller="Authentication">
                        <i class="fas fa-sign-out-alt"></i> Back To Login
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>